<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source = DESKTOP-R01UH5Q\\SQLEXPRESS; Initial Catalog = MakeUpShop; Integrated Security = True; TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="parentTable" value="Employees"/>
		<add key="childTable" value="EmployeeAttendance"/>
		<add key="selectParent" value="select * from Employees"/>
		<add key="selectChild" value="select * from EmployeeAttendance where EmployeeID="/>
		<add key="columnNames" value="AttendanceID,EmployeeID,WorkedHours"/>
		<add key="columnNamesInsertParameters" value="@AttendanceID,@EmployeeID,@WorkedHours"/>
		<add key="numberOfColumns" value="3"/>
		<add key="addQuery" value="insert into EmployeeAttendance(AttendanceID,EmployeeID,WorkedHours) values (@AttendanceID,@EmployeeID,@WorkedHours)"/>
		<add key="updateQuery" value="update EmployeeAttendance set EmployeeID=@EmployeeID, WorkedHours=@WorkedHours where AttendanceID=@AttendanceID"/>
		<add key="deleteQuery" value="delete from EmployeeAttendance where AttendanceID=@AttendanceID"/>
		<add key="foreignKey" value="EmployeeID"/>
		<add key="primaryKey" value="AttendanceID"/>
	</appSettings>
	<!--<appSettings>
		<add key="parentTable" value="Products"/>
		<add key="childTable" value="Reviews"/>
		<add key="selectParent" value="select * from Products"/>
		<add key="selectChild" value="select * from Reviews where ProductID="/>
		<add key="columnNames" value="ReviewID,Rating,ReviewText,ProductID"/>
		<add key="columnNamesInsertParameters" value="@ReviewID,@Rating,@ReviewText,@ProductID"/>
		<add key="numberOfColumns" value="4"/>
		<add key="addQuery" value="insert into Reviews(ReviewID,Rating,ReviewText,ProductID) values (@ReviewID,@Rating,@ReviewText,@ProductID)"/>
		<add key="updateQuery" value="update Reviews set ReviewID=@ReviewID, Rating=@Rating, ReviewText=@ReviewText, ProductID=@ProductID where ReviewID=@ReviewID"/>
		<add key="deleteQuery" value="delete from Reviews where ReviewID=@ReviewID"/>
		<add key="foreignKey" value="ProductID"/>
		<add key="primaryKey" value="ReviewID"/>
	</appSettings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>